<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="icon" type="image/png" href="./bee.png" />

  <title> Advisor</title>

  <!-- Custom fonts for this template-->
  <link href="./dist/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="./dist/sb-admin-2.css" rel="stylesheet">



</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion toggled" id="accordionSidebar">

      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.ejs">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
      </a>

      <hr class="sidebar-divider my-0">

      <li class="nav-item active">
        <a class="nav-link">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <hr class="sidebar-divider">

      <div class="sidebar-heading">
        CUSTOMER
      </div>

      <li class="nav-item">
        <a class="nav-link">
          <i class="fas fa-fw fa-cog"></i>
          <span>Settings</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" >
          <i class="fas fa-fw fa-wrench"></i>
          <span>Utilities</span>
        </a>
      </li>

      <hr class="sidebar-divider">

      <div class="sidebar-heading">
        ADVISOR
      </div>

      <li class="nav-item">
        <a class="nav-link">
          <i class="fas fa-fw fa-folder"></i>
          <span>Files</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Productivity</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link">
          <i class="fas fa-fw fa-table"></i>
          <span>Records</span></a>
      </li>

    </ul>

    
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-sm-inline text-gray-600 small">Sherlock Watson</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/random/60x60">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Advisor Dashboard</h1>

      <img src="./bee.png">
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-md-6 mb-4">

              <!--<div class="card shadow mb-4"> <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Informations sur la demande du client</h6>
              </div>
                <div class="card-body text-gray-800">
                  <p> Type : Demande d'informations sur mon contrat </p>
                  <p> Sujet : Assurance habitation </p>

                </div>
              </div> -->

              <input id="input_search" type="text" placeholder="Search..." onchange="search_discovery(); tone_analyzer()">
              <button onclick="reset()">Effacer</button>

              <div class="card shadow mb-4"> <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Tone Analyzer</h6>
              </div>
                <div class="card-body text-gray-800">
                  <div id="tone_results"></div>
                  <!--<p>Mots clés de la conversation</p>
                  <div id="myCanvasContainer">
                    <canvas width="300" height="300" id="myCanvas">
                      <p>Anything in here will be replaced on browsers that support the canvas element</p>
                    </canvas>
                  </div>
                  <div id="tags"  style="font-size: 50%">
                  <a href="#" style="font-size: 2.83ex">1000</a>
                  <a href="#" style="font-size: 3.61ex">background</a>
                  <a href="#" style="font-size: 9.64ex">canvas</a>
                  <a href="#" style="font-size: 4.47ex">chart</a>
                  <a href="#" style="font-size: 3.46ex">charts</a>
                  <a href="#" style="font-size: 12.32ex">cloud</a>
                  <a href="#" style="font-size: 3.74ex">clouds</a>
                  <a href="#" style="font-size: 3.16ex">example</a>
                  <a href="#" style="font-size: 3.74ex">goat</a>
                  <a href="#" style="font-size: 3.16ex">goat1000</a>
                  <a href="#" style="font-size: 8.36ex">graph</a>
                  <a href="#" style="font-size: 4.36ex">graphs</a>
                  <a href="#" style="font-size: 3.32ex">html</a>
                  <a href="#" style="font-size: 10.68ex">html5</a>
                  <a href="#" style="font-size: 4.69ex">image</a>
                  <a href="#" style="font-size: 4.8ex">javascript</a>
                  <a href="#" style="font-size: 5.47ex">jpeg</a>
                  <a href="#" style="font-size: 2.65ex">jpegsaver</a>
                  <a href="#" style="font-size: 8.77ex">jquery</a>
                  <a href="#" style="font-size: 2.65ex">lib</a>
                  <a href="#" style="font-size: 5.92ex">library</a>
                  <a href="#" style="font-size: 3.32ex">link</a>
                  <a href="#" style="font-size: 13.23ex">php</a>
                  <a href="#" style="font-size: 2.83ex">plugin</a>
                  <a href="#" style="font-size: 4.58ex">saver</a>
                  <a href="#" style="font-size: 3.32ex">screensaver</a>
                  <a href="#" style="font-size: 2.65ex">script</a>
                  <a href="#" style="font-size: 13ex">svg</a>
                  <a href="#" style="font-size: 11.7ex">svggraph</a>
                  <a href="#" style="font-size: 12.44ex">tag</a>
                  <a href="#" style="font-size: 2.65ex">tagcanvas</a>
                  <a href="#" style="font-size: 3.46ex">tagcloud</a>
                  <a href="#" style="font-size: 2.65ex">text</a>
                  <a href="#" style="font-size: 3.16ex">word</a>
                  </div>-->
                
                </div>
              </div>


              <div class="card shadow mb-4"> <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Résultats Discovery</h6>
              </div>
                <div class="card-body text-gray-800">
                  <div id="number_results"> </div>
                  <div id="results_search">  </div>
                </div>
              </div>

              <!-- Color System -->
              <div class="row" id="answers">


              </div>

            </div>

            <div class="col-md-6 mb-4" id="conversation">

              <div class="card shadow mb-4"> <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Requêtes</h6>
              </div>
                <div class="card-body text-gray-800">

                  <div class="field">
                    <label>Field</label>
                    <select class="select">
                      <!--<input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">-->
                      <option value="test">Entity Types</option>
                      <option>Entities</option>
                      <option>Categories</option>
                      <option>Concepts</option>
                      <option>Keywords</option>
                    </select>
                  </div>

                  <div class="operator">
                    <label>Operator</label>
                    <select class="select">
                      <!--<input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">-->
                      <option value="test">is</option>
                      <option>is not</option>
                      <option>contains</option>
                      <option>does not contain</option>
                    </select>
                  </div>

                  <div class="value">
                    <label>Value</label>
                    <select class="select">
                      <!--<input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">-->
                      <option value="test">test</option>
                      <option>test</option>
                      <option>test</option>
                      <option>test</option>
                    </select>
                  </div>

                  <button>Rechercher</button>
                </div>
              </div>

              

              <div class="card shadow mb-4"> <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Passages Discovery</h6>
              </div>
                <div class="card-body text-gray-800">
                  <div id="number_passages"> </div>
                  <div id="results_passages">  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; IBM 2020</span>

          </div>
        </div>

      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="./dist/vendor/jquery/jquery.min.js"></script>
  <script src="./dist/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="./dist/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="./dist/sb-admin-2.js"></script>

  <!-- Page level plugins -->
  <script src="./dist/vendor/chart.js/Chart.min.js"></script>

  <script src="./dist/socket.io-client/socket.io.js"></script>
  <script type="text/javascript"></script>

  <!-- Fichiers JS -->
  <script src="./javascripts/discovery.js"></script>
  <script src="./javascripts/toneanalyzer.js"></script>
  <script src="./javascripts/tagcloud.js"></script>

  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='https://www.goat1000.com/jquery.tagcanvas.min.js'></script>

</body>

</html>
